.banner__wrapper {
    border-radius: 25px;
    text-align: center;
    height: 223px;
    overflow: hidden;
    position: relative;
    color: white;
    margin: 63px auto 0;
    max-width: 1240px;
}


.banner__wrapper::before{
    background-color: rgba(0,0,0,.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner__title {
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.banner__img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 43%;
    width: 100%;
}

@media screen and (max-width: 1240px){
   .banner__wrapper {
    height: 111px;
    padding-left: 16px;
   } 

  .banner__title{
    font-size: 24px;
    text-align: left;
    width: 217px;
  }
}