.carousel__wrapper {
    margin: auto;
    width: 1240px;
}

.carousel__content {
    position: relative;
    display: flex;

}


.carousel__img {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.carousel__wrapper button {
    width: 79px;
    height: 60px;
    background: transparent ;
    border: none;
    cursor: pointer;
}

.arrow__left {
    position: absolute;
    top: 41%;
    left: 0;
}

.arrow__right {
    position: absolute;
    top: 41%;
    right: 0;
}

.carousel__counter {
    position: absolute;
    left: 50%;
    top: 357px;
    color: #ffffff;
    font-size: 18px;
}


