.section__wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 60px;
  row-gap: 50px;
  width: min(100%, 1240px);
  margin: 43px auto;
  padding: 50px;
  border-radius: 25px;
  background: #F7F7F7;
}

.section__link{
    text-decoration: none;
}

@media  screen and (max-width: 640px){
  .section__wrapper{
    display: block;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  }
}