.collapse__title{
    display: flex;
    justify-content: space-between;
    width: 1023px;
    height: 47px;
    background: #FF6060;
    border-radius: 5px;
    margin: 31px auto 0;
    padding: 6px 0 7px 18px;
}

.collapse__title button {
   cursor: pointer;
   margin-right: 10px;
   background: transparent;
   border: none;
   width: 24px;
   height: 24px;
   margin-top: 5px;
}

.collapse__title h2 {
    font-size: 24px;
    color: white;
    line-height: 34px;
    font-weight: 500;
    
}


.collapse__description {
    width: 1023px;
    background: #F7F7F7;
    margin: auto;
    border-radius: 5px;
    padding: 18px 37px 27px 19px;
}

.collapse__description p {
    animation: appear 0.5s;
    color: #FF6060;
    font-size: 24px;
}



@keyframes appear{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.second__collapse__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: 40px auto;

}

.second__collapse__content,
.second__collapse__title,
.second__collapse__description {
    width: 582px;
}


.second__collapse__description {
    height: 149px;
    padding: 20px 12px 53px 20px;
}



.second__collapse__title h2 {
    margin-top: 5px;
}

.second__collapse__title h2,
.second__collapse__description p,
.second__collapse__description li
{
    font-size: 18px;
    line-height: 24px;
}

.second__collapse__description li {
    list-style-type: none;
    animation: appear 0.5s;
    color: #FF6060;
}