.header__wrapper{
    display: flex;
    width: 1240px;
    height: 68px;
    justify-content: space-between;
    margin: auto;
}

.header__img{
    width: 210px;
    height: 68px;
}

.header__wrapper nav {
    display: flex;
    justify-content: space-between;
    width: 309px;
    height: 34px;
    list-style: none;
    margin: auto 0;
}

.header__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration: none;
}

.header__link__active {
    border-bottom: 1px solid #FF6060;
}

@media screen and (max-width: 640px){
    .header__img{
        width: 145px;
        height: 47px;
    }

    .header__wrapper nav {
        width: 140px;
        height: 17px;
    }

    .header__link{
        font-size: 12px;
    } 
}