@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    padding: 40px 100px 0 100px;
    font-family: 'Montserrat';
 }


@media screen and (max-width: 640px){
    body {
        padding: 20px;
    }
}

  